// Заголовки, общие БЄМ блоки и проче...
.h2 {
    font-weight: 600;
    font-size: rem(36);
    color: #00A3FF;
    margin-bottom: rem(60);
}

.h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

